:host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
  margin: 0;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  background-color: inherit;
  border: 0;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  padding-top: 0;
}
