<p-table
  #dt2
  [value]="weatherItems"
  sortField="time"
  [sortOrder]="1"
  [paginator]="true"
  [rows]="12"
  [rowsPerPageOptions]="[6, 12, 24]"
  [globalFilterFields]="[
    'time',
    'weatherState.description',
    'temperature',
    'surfacePressure',
    'humidity'
  ]"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <div *ngIf="isHistoryMode">
        <p-calendar
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [readonlyInput]="true"
          [maxDate]="today"
          (onSelect)="onDateRangeSelect($event)"
        />
      </div>

      <div
        class="flex flex-1 align-items-center"
        [class.justify-content-center]="isHistoryMode"
      >
        <label class="mr-3" for="historical-switch">Historical</label>
        <div style="height: 28px">
          <p-inputSwitch
            class="flex-grow-0"
            inputId="historical-switch"
            [(ngModel)]="isHistoryMode"
            (onChange)="onToggleHistory($event)"
          />
        </div>
      </div>

      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          type="text"
          #inputSearch
          (input)="dt2.filterGlobal(inputSearch.value, 'contains')"
          placeholder="Search keyword"
        />
      </p-iconField>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="time" style="width: 20%">
        <div class="flex">
          <span class="flex-1">Datetime</span>
          <p-sortIcon class="" field="time" />
        </div>
      </th>

      <th style="width: 20%">
        <div class="flex">
          <span class="flex-1">State</span>
        </div>
      </th>

      <th pSortableColumn="temperature" style="width: 20%">
        <div class="flex align-items-center">
          <span class="flex-1">Temperature</span>
          <p-sortIcon field="temperature" />
        </div>
      </th>

      <th pSortableColumn="surfacePressure" style="width: 20%">
        <div class="flex align-items-center">
          <span class="flex-1">Surf. pressure</span>
          <p-sortIcon field="surfacePressure" />
        </div>
      </th>

      <th pSortableColumn="humidity" style="width: 20%">
        <div class="flex align-items-center">
          <span class="flex-1">Humidity</span>
          <p-sortIcon field="humidity" />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-weather>
    <tr>
      <td>{{ formatTime(weather.time) }}</td>
      <td class="text-center">
        {{ weather.weatherState.description }}
      </td>
      <td class="text-right">
        {{ formatNumber(weather.temperature, 1, true) }}
      </td>
      <td class="text-right">
        {{ formatNumber(weather.surfacePressure, 1, true) }}
      </td>
      <td class="text-right">{{ formatNumber(weather.humidity, 1, true) }}</td>
    </tr>
  </ng-template>
</p-table>
