<div class="flex flex-1 flex-column align-items-center">
  <div class="container card p-5">
    <p-card>
      <p-tabView>
        <p-tabPanel header="Weather">
          <app-weather></app-weather>
        </p-tabPanel>
        <p-tabPanel header="Weather chart">
          <app-weather-chart></app-weather-chart>
        </p-tabPanel>
        <p-tabPanel header="Heat index calculator">
          <app-heat-index></app-heat-index>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>
